{% extends "base.html" %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card bg-dark text-light p-4 rounded-0 border border-light">
                <h2 class="text-center">Login</h2>
                <form>
                    <div class="form-group mb-4">
                        <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group mb-4">
                        <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
                        {{ form.password }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block rounded-0 mx-auto d-block">Login</button>
                </form>
                <div class="text-center mt-3">
                    <a href="{% url 'register-view' %}" class="text-light">Don't have an account? Register here.</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
